<%= "plot_plants" %></br></br>

<% @plots.each do |plot|%>

  <div id = plot-<%= plot.id %>>
    <%= plot.number %> </br>
    <%  plot.plants.each do |plant| %>
    <%= plant.name%>

  </br>

    <% end  %>
  </div>
  <% end  %>
